{% extends "frontend/account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% block stylesheets %}

<style type="text/css">
    input {
        border: 1px solid #ced4da !important;
    }

    .social-auth-button-container {
        text-align: center;
        margin-top: 20px;
    }

    .social-auth-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border: 1px solid #007bff;
        border-radius: 5px;
        text-decoration: none;
    }

    .social-auth-button:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>
{% endblock stylesheets %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 offset-md-3">

            <h1>{% trans "Sign In" %}</h1>
        </br>
            
            <a href="{% url 'frontend:auth0-login' %}" class="btn btn-primary btn-sm" onclick="openDetachedPopup(event)">
                <i class="fas fa-users mr-2"></i> Social Auth
            </a></br>
            Or 

            <form class="login" method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="social-auth-button-container">
                    <a class="btn btn-outline-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
