{% extends "frontend/account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<style>
  /* Apply styles to the password reset form */
.password-reset-form {
    max-width: 400px;
    margin: auto;
}

/* Style for the email input field */
#id_email {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Style for the submit button */
.password-reset-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-reset-form input[type="submit"]:hover {
    background-color: #0056b3;
}

</style>

<h1>{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
</br>
<form method="POST" action="{% url 'account_reset_password' %}" class="password-reset-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary" />
</form>
</br>

<p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
