<!-- reviews_partial.html -->

{% for review in reviews %}
    <div class="review-container">
        <div class="user-info">{{ review.user }}</div>
        <div class="rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
      </div>
      
        <div class="comment">
            {{ review.comment }}
        </div>
    </div>
{% endfor %}
