{% extends "backend/layouts/base.html" %}
{% load crispy_forms_tags %}  {# Load crispy forms tags #}

{% block title %} Edit Page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
  /* Add any additional stylesheets here */

  /* This selector targets the editable element (excluding comments). */
  .ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 300px;
    overflow-y: auto;
  }

  /* Basic styling for the file input container */
  .custom-file {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* Styling for the input */
  .custom-file input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  /* Styling for the button */
  .custom-file-label {
    background-color: #2c3e50; /* Matte black background color */
    color: #ecf0f1; /* Light text color */
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }

  /* Hover effect for the button */
  .custom-file:hover .custom-file-label {
    background-color: #34495e; /* Slightly darker matte black on hover */
  }
    /* Custom form control */
.custom-form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>

{% endblock stylesheets %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="card h-100">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Edit Page</h4>
      </div>
      <div class="card-body">

        <h6 class="card-category">
          {% include 'backend/includes/_messages.html' %}
        </h6>

        <br />

        {% if success %}
          <p class="text-success">Page updated successfully!</p>
        {% else %}
          <!-- Edit Page Form -->
          <form role="form" method="post" action="{% url 'store:page-update' pk=page.pk %}" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Page Name</label>
                  {{ page_form.name|as_crispy_field }}
                  <span class="text-danger">{{ page_form.name.errors }}</span>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label class="bmd-label-floating">Category</label>
                  {{ page_form.category|as_crispy_field }}
                  <span class="text-danger">{{ page_form.category.errors }}</span>
                </div>
              </div>

              <div class="col-md-3 mt-4">
                <div class="form-group">
                    <label class="bmd-label-floating">Is Active</label>
                    <div class="switch purple-switch">
                        <input type="checkbox" name="{{ page_form.is_active.name }}" id="{{ page_form.is_active.id_for_label }}" {{ page_form.is_active.value|yesno:"checked," }}>
                        <label class="slider round" for="{{ page_form.is_active.id_for_label }}"></label>
                    </div>
                    <!-- <span class="text-danger">{{ product_form.is_active.errors }}</span> -->
                </div>
            </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Page Content</label>
                  <div class="ck ck-content">
                    {{ page_form.content|safe}}
                  </div>
                  <span class="text-danger">{{ page_form.content.errors }}</span>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block">Update Page</button>
              </div>
            </div>

          </form>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}
